<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	useFullscreenExpand="false"
	galleryTitle="Suites and Sweets - February 2018"
	indexPageName="index.html"

>
  <image imageURL="images/Aerial view.jpg"
	thumbURL="thumbs/Aerial view.jpg"
	linkURL="images/Aerial view.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Aerial view.jpg">
    <title><![CDATA[Aerial view]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Alan Chiang and Ece Bozkurt.jpg"
	thumbURL="thumbs/Alan Chiang and Ece Bozkurt.jpg"
	linkURL="images/Alan Chiang and Ece Bozkurt.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Alan Chiang and Ece Bozkurt.png">
    <title><![CDATA[Alan Chiang and Ece Bozkurt]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Allen Chang and James Carrabino.jpg"
	thumbURL="thumbs/Allen Chang and James Carrabino.jpg"
	linkURL="images/Allen Chang and James Carrabino.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Allen Chang and James Carrabino.png">
    <title><![CDATA[Allen Chang and James Carrabino]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Mahima Kumara and Allison Song.jpg"
	thumbURL="thumbs/Mahima Kumara and Allison Song.jpg"
	linkURL="images/Mahima Kumara and Allison Song.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Mahima Kumara and Allison Song.png">
    <title><![CDATA[Mahima Kumara and Allison Song]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rishi Mirchandani and James Carrabino.jpg"
	thumbURL="thumbs/Rishi Mirchandani and James Carrabino.jpg"
	linkURL="images/Rishi Mirchandani and James Carrabino.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Rishi Mirchandani and James Carrabino.png">
    <title><![CDATA[Rishi Mirchandani and James Carrabino]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Roger Sheu and John Mori.jpg"
	thumbURL="thumbs/Roger Sheu and John Mori.jpg"
	linkURL="images/Roger Sheu and John Mori.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Roger Sheu and John Mori.png">
    <title><![CDATA[Roger Sheu and John Mori]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Vivian Xu (Front L), James Carrabino (Back L), Stefan Jones (Front R), Allen Chang (Back R).jpg"
	thumbURL="thumbs/Vivian Xu (Front L), James Carrabino (Back L), Stefan Jones (Front R), Allen Chang (Back R).jpg"
	linkURL="images/Vivian Xu (Front L), James Carrabino (Back L), Stefan Jones (Front R), Allen Chang (Back R).jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Vivian Xu (Front L), James Carrabino (Back L), Stefan Jones (Front R), Allen Chang (Back R).png">
    <title><![CDATA[Vivian Xu (Front L), James Carrabino (Back L), Stefan Jones (Front R), Allen Chang (Back R)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Vivian Xu, James Carrabino, Allen Chang, Stefan Jones.jpg"
	thumbURL="thumbs/Vivian Xu, James Carrabino, Allen Chang, Stefan Jones.jpg"
	linkURL="images/Vivian Xu, James Carrabino, Allen Chang, Stefan Jones.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Vivian Xu, James Carrabino, Allen Chang, Stefan Jones.png">
    <title><![CDATA[Vivian Xu, James Carrabino, Allen Chang, Stefan Jones]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Yasheen Gao and Laura Street.jpg"
	thumbURL="thumbs/Yasheen Gao and Laura Street.jpg"
	linkURL="images/Yasheen Gao and Laura Street.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Yasheen Gao and Laura Street.png">
    <title><![CDATA[Yasheen Gao and Laura Street]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Zeynep Karacan and Kenneth Xu.jpg"
	thumbURL="thumbs/Zeynep Karacan and Kenneth Xu.jpg"
	linkURL="images/Zeynep Karacan and Kenneth Xu.jpg"
	linkTarget="_blank"
	sourcePath="/Users/Rishi/Google Drive/YUPC/Media/Concert Archives/Suites &amp; Sweets - Feb 2018/Photos:Screen grabs/Zeynep Karacan and Kenneth Xu.png">
    <title><![CDATA[Zeynep Karacan and Kenneth Xu]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>